// Omnisearch https://github.com/scambier/obsidian-omnisearch
@media only screen and (max-width: 600px) {
  .omnisearch-input-container__buttons {
    padding: 0 8px;
  }
  .omnisearch-input-field {
    padding: 8px;
  }
}
@media only screen and (min-width: 600px) {
  .omnisearch-input-container__buttons {
    margin-inline-end: 4px;
  }
}
.omnisearch-input-field {
  display: flex;
  align-items: center;
  width: 100%;
}
.omnisearch-input-container__buttons button {
  box-shadow: none;
  border: var(--input-border-width) solid var(--background-modifier-border);
}
.omnisearch-result > div {
  gap: 4px;
  width: 100%;

  .omnisearch-result__title,
  .omnisearch-result__icon + span {
    flex: 1;
  }
  .omnisearch-result__title-container,
  .omnisearch-result__folder-path {
    margin-bottom: 4px;
  }
  .omnisearch-result__body {
    margin-inline: 0;
  }
}

body:not(.is-mobile) .omnisearch-input-container__buttons {
  display: none;
}
body.is-phone {
  @media only screen and (max-width: 600px) {
    .omnisearch-modal {
      --prompt-top: calc(var(--safe-area-inset-top) + var(--header-height)) !important;
      backdrop-filter: none !important;
      background-color: transparent !important;
      height: calc(100vh - var(--prompt-top)) !important;

      &::before {
        position: fixed;
        z-index: -1;
        backdrop-filter: var(--blur-l);
        inset: 0;
        pointer-events: none;
        content: "";
      }

      .prompt-results {
        backdrop-filter: var(--blur-l);
        mask: none !important;
        border-radius: var(--modal-radius) var(--modal-radius) 0 0;
        background-color: var(--modal-background);
        padding-top: var(--mobile-inset-top) !important;
        padding-bottom: var(--mobile-inset-bottom);
      }
      .omnisearch-input-container {
        gap: 8px;
        margin-bottom: var(--mobile-inset-bottom);
        padding-inline: var(--mobile-inset-inline-start) var(--mobile-inset-inline-end);
      }
      .prompt-input {
        width: 100%;
      }
      .omnisearch-input-container__buttons {
        padding: 0;
      }
    }
  }
}

// Notebook Navigator https://github.com/johansan/notebook-navigator
body {
  --nn-theme-mobile-nav-bg: transparent;
  --nn-theme-nav-header-bg: transparent;
  --nn-theme-nav-bg: transparent;
  --nn-theme-list-header-bg: transparent;
  --nn-theme-list-bg: transparent;

  --nn-theme-navitem-selected-bg: var(--background-modifier-hover);
  --nn-theme-navitem-selected-inactive-bg: var(--background-modifier-hover);
  --nn-theme-file-tag-bg: var(--tag-background);
  --nn-theme-file-tag-color: var(--tag-color);

  --nn-theme-mobile-list-header-link-color: var(--text-normal);
  --nn-theme-mobile-toolbar-button-icon-color: var(--text-normal);
  --nn-theme-mobile-toolbar-button-active-icon-color: var(--text-on-accent);
  --nn-theme-mobile-toolbar-button-active-bg: var(--interactive-accent);

  --nn-theme-navitem-border-radius: var(--radius-m);
  --nn-theme-file-border-radius: var(--radius-m);
}
.notebook-navigator {
  background-color: transparent;
}
body:not(.is-mobile) .view-content.notebook-navigator {
  padding: 0 !important;

  .nn-single-pane .nn-navigation-pane {
    border-right: none;
  }
  .nn-pane-header {
    padding: 8px 12px;
  }
  .nn-header-actions button.nn-icon-button {
    padding: 8px;
    min-width: unset;
    height: auto;
  }
}
body.is-mobile .view-content.notebook-navigator-mobile {
  .nn-pane-header,
  .nn-mobile-title {
    padding: 0;
  }
}

// Hider https://github.com/kepano/obsidian-hider
.hider-sidebar-buttons.mod-macos {
  --frame-left-space: calc(80px - var(--ribbon-width));
}
.hider-sidebar-buttons .sidebar-toggle-button.mod-left,
.hider-sidebar-buttons .sidebar-toggle-button.mod-right {
  display: flex;
  visibility: hidden;
  width: 0 !important;
  opacity: 0;
}
body.is-phone.hider-sidebar-buttons {
  .view-header-left {
    display: none;
  }
  .view-header-title-container {
    margin-left: 8px !important;
  }
}

// Quick Explorer https://github.com/pjeby/quick-explorer
.obsidian-themepocalypse:not(.qe-hide-breadcrumbs) {
  --status-bar-radius: 0;
  --status-bar-border-width: 0;
  --status-bar-background: transparent;

  #quick-explorer .explorable {
    color: var(--text-faint);
    transition: var(--anim-duration-fast);
  }

  #quick-explorer .explorable.selected,
  #quick-explorer .explorable:hover {
    background-color: transparent;
    color: var(--text-normal);
  }

  .status-bar {
    width: 100%;
    transform: none !important;
    opacity: 1 !important;

    &::before {
      content: none !important;
    }
  }

  &:not(.status-bar-baseline) .status-bar {
    margin: 4px 0;

    &:hover {
      margin: 0;
      box-shadow: none;
      backdrop-filter: none;
      border: none;
    }
  }
}

// Novel Word Count https://github.com/isaaclyman/novel-word-count-obsidian
body:not(.is-mobile):not(.nav-action-center) .mod-sidedock .workspace-leaf-content.novel-word-count--active > .nav-header {
  &:not(:hover) .nav-buttons-container {
    .nav-action-button {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
  .nav-buttons-container {
    flex-wrap: nowrap !important;

    &::after {
      position: absolute;
      overflow: visible;
      opacity: 0;
      transition: var(--anim-duration-moderate);
      color: var(--text-faint);
    }
  }
}

body.is-mobile .workspace-drawer .novel-word-count--active {
  .nav-buttons-container {
    overflow: visible;
  }
  .nav-buttons-container::after {
    position: absolute;
    transform: translateY(-24px);
  }

  &.novel-word-count--note-right .nav-files-container .nav-folder-title::after,
  &.novel-word-count--note-right .nav-files-container .nav-file-title::after {
    flex: unset;
    order: 0;
  }

  &.novel-word-count--note-inline .nav-files-container .tree-item .tree-item-inner {
    flex: unset;
    padding: 0 8px;
  }
  &.novel-word-count--note-inline .nav-files-container .nav-folder-title::after,
  &.novel-word-count--note-inline .nav-files-container .nav-file-title::after {
    order: 0;
  }

  &.novel-word-count--folder-below .nav-files-container .nav-folder-title::after,
  &.novel-word-count--folder-below .nav-files-container .nav-file-title::after {
    flex-basis: 100%;
  }
}

// Metadata Menu https://github.com/mdelobelle/metadatamenu
.field-btn-container {
  margin-inline-start: 8px;
}
.field-btn-container button.property-metadata-menu,
.plugin-metadata-menu .status-item-bt {
  padding: 0 !important;
  background-color: transparent;
  align-self: center;
}
.metadata-menu {
  .suggester-input {
    margin-top: 0;
  }
  .prompt-input-container {
    height: var(--prompt-input-height);
    position: absolute;
    inset: 0 0 auto;
    pointer-events: none;
  }
  .search-input-clear-button {
    display: none;
  }
  .value-container.value-checked.is-selected {
    color: var(--text-on-accent);
  }
}

// Relative Line Numbers https://github.com/nadavspi/obsidian-relative-line-numbers
.relative-line-numbers-mono {
  position: absolute;
  width: 100%;
}

// Pixel Banner https://github.com/jparkerweb/pixel-banner
body:not(.is-phone) .pixel-banner {
  > .markdown-source-view > .cm-editor:first-child .pixel-banner-image,
  > .markdown-reading-view > .markdown-preview-view:first-child > .pixel-banner-image {
    top: var(--view-header-height, var(--header-height));
  }
}
body.is-phone.is-mobile .pixel-banner {
  .select-image-icon {
    display: none;
  }
  .pixel-banner-image {
    top: var(--view-top-spacing-markdown);
  }
}

// Kanban https://github.com/mgmeyers/obsidian-kanban
body.is-mobile .kanban-plugin__item,
body.is-mobile .kanban-plugin__item-input-wrapper {
  border-radius: var(--radius-s);
}

// Minimal Theme Settings https://github.com/kepano/obsidian-minimal-settings
body.minimal-theme .workspace::before {
  content: "Lumin is not compatible with Minimal Theme Settings.\A\ATo use this theme, disable Minimal Theme Settings in Community plugins.";
  text-align: center;
  white-space: pre-wrap;
  position: fixed;
  inset: 0;
  color: var(--text-muted);
  font-size: var(--font-ui-medium);
  z-index: 49;
  pointer-events: none;
  background-color: var(--background-primary);
  align-self: center;
  justify-self: center;
  padding: 32px;
  border-radius: var(--radius-l);
  box-shadow: var(--shadow-l);
}

// Excalidraw https://github.com/zsviczian/obsidian-excalidraw-plugin
.excalidraw {
  --input-height: 32px;
}
