body:not(.is-phone) {
  --setting-items-radius: var(--radius-m);
  --setting-items-padding: calc(16px * var(--density-modifier)) 16px;
  --setting-group-heading-color: var(--text-faint);
  --setting-group-heading-size: var(--font-ui-small);

  .modal-sidebar {
    --background-modifier-form-field: var(--interactive-normal);
  }

  .modal.mod-sidebar-layout {
    .vertical-tab-header {
      border-inline-end: none;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(8px * var(--density-modifier)) 12px;
      align-items: center;
      font-size: var(--font-ui-small);
    }

    .vertical-tab-content {
      background-color: var(--modal-sidebar-background);
    }

    .setting-group-search {
      padding: 0 0 8px;
      background-color: transparent;
    }

    .setting-item-name {
      overflow: visible;
    }
  }

  .installed-plugins-container .setting-item .setting-item-description div:last-child {
    color: var(--text-muted);
    margin-top: 4px;
  }

  .installed-plugins-container .setting-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 8px;
    padding: 0;
    background-color: transparent;

    .setting-item {
      display: flex;
      flex-direction: column;
      margin: 0px !important;
      border: none;
      border-radius: var(--setting-items-radius) !important;
      background-color: var(--setting-items-background);
      padding: calc(16px * var(--density-modifier)) !important;
      overflow: hidden;
    }
    .setting-item-info {
      margin-inline-end: 0;
      width: 100%;
    }
    .setting-item-description > div:last-child {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .setting-item-control {
      flex: none;
      flex-wrap: wrap;
      align-self: flex-end;
      width: 100%;
    }
    .setting-item-control button.mod-cta {
      flex-grow: 1;
      flex-basis: 100%;
    }

    .setting-item:has(button) {
      order: -1;
    }
  }

  .modal.mod-community-modal {
    .modal-sidebar {
      padding: 0;
    }
    .community-modal-controls {
      display: flex;
      height: auto;
      align-items: center;
      padding: 0 8px;
      width: 100%;
      flex-wrap: wrap;
    }
    .modal-sidebar:not(:only-child) .community-modal-controls .setting-item {
      width: 100%;
      margin-right: 0;
    }
    .community-modal-controls .setting-item {
      margin: 0;
      padding: 8px 0;
      display: flex;
      align-items: center;
    }
    .community-modal-controls .setting-item:first-child {
      margin-right: auto;
    }
    .community-modal-controls .setting-item.mod-toggle {
      margin-right: 48px;
    }
    .community-modal-controls .setting-item:first-child .setting-item-info,
    .community-modal-search-summary {
      display: none;
    }
    .community-modal-search-results {
      gap: 8px;
      padding: 8px;
    }
    .community-item:not(.is-selected) {
      background-color: var(--setting-items-background);
    }
  }
}

body.is-phone {
  .modal.mod-sidebar-layout {
    box-shadow: none;

    .modal-header {
      padding: 0;
      align-items: center;
      display: inline;
      z-index: 1;
    }
    .modal-title {
      display: flex;
      align-items: center;
      min-width: fit-content;
      max-width: 0;
    }
    .modal-title:not(:has(.modal-setting-back-button)) {
      font-size: 1.5rem;
      font-weight: calc(var(--font-weight) + var(--bold-modifier));
      max-width: 100%;
      padding-left: 20px;
    }
    .modal-setting-back-button {
      inset-inline-start: 8px;
      bottom: unset;
    }

    .vertical-tab-header-group-title {
      display: none;
    }
  }

  .modal.mod-settings .modal-title {
    margin-top: var(--safe-area-inset-top);
    height: var(--touch-size-m);
  }
  .modal.mod-community-modal .modal-title {
    height: calc(var(--touch-size-m) + 16px);
  }
}

body.is-tablet {
  &.theme-dark {
    --settings-background: var(--background-secondary);
    --setting-items-background: var(--background-primary);
  }

  .modal.mod-sidebar-layout {
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(12px * var(--density-modifier)) 16px;
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off, .is-android:not(.adaptive-mode-off)) {
  .modal.mod-settings .vertical-tab-nav-item {
    &[data-setting-id="editor"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="mobile"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="file"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-orange);
    }
    &[data-setting-id="appearance"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-accent);
    }
    &[data-setting-id="hotkeys"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-pink);
    }
    &[data-setting-id="keychain"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-cyan);
    }
    &[data-setting-id="community-plugins"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="backlink"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="daily-notes"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-red);
    }
    &[data-setting-id="file-recovery"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="note-composer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-cyan);
    }
    &[data-setting-id="page-preview"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="switcher"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-purple);
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-green);
    }
    &[data-setting-id="templates"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
    &[data-setting-id="zk-prefixer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-orange);
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      --setting-nav-icon-background: var(--color-blue);
    }
  }
}
