/*
Lumin
https://developer.apple.com/design/human-interface-guidelines/color
*/

body.theme-light {
  --color-red-rgb: 255, 56, 60;
  --color-orange-rgb: 255, 141, 40;
  --color-yellow-rgb: 255, 204, 0;
  --color-green-rgb: 52, 199, 89;
  --color-cyan-rgb: 0, 192, 232;
  --color-blue-rgb: 0, 136, 255;
  --color-purple-rgb: 203, 48, 224;
  --color-pink-rgb: 255, 45, 85;
}
body.theme-light:not(.is-mobile) {
  --background-primary: #fff;
  --background-primary-alt: color-mix(in srgb, var(--background-primary), black 3%);
  --background-secondary: color-mix(in srgb, var(--background-primary), black 5%);
  --background-secondary-alt: color-mix(in srgb, var(--background-primary), black 8%);

  --interactive-normal: hsl(0 0% 0% / 5%);
  --interactive-hover: hsl(0 0% 0% / 5%);

  --text-normal: #262626; // rgba(var(--mono-rgb-100), 85%)
  --text-muted: #737373; // rgba(var(--mono-rgb-100), 55%)
  --text-faint: #bfbfbf; // rgba(var(--mono-rgb-100), 25%)
}
body.theme-light.is-mobile {
  --background-primary: #fff;
  --background-primary-alt: #f2f2f7;
  --background-secondary: #f2f2f7;
  --background-secondary-alt: #fff;

  --interactive-normal: rgba(118, 118, 128, 12%);
  --interactive-hover: rgba(120, 120, 120, 20%);

  --text-normal: #000;
  --text-muted: #8a8a8e; // rgba(60, 60, 67, 60%)
  --text-faint: #c4c4c7; // rgba(60, 60, 67, 30%)
}

body.theme-dark {
  --color-red-rgb: 255, 66, 69;
  --color-orange-rgb: 255, 146, 48;
  --color-yellow-rgb: 255, 214, 0;
  --color-green-rgb: 48, 209, 88;
  --color-cyan-rgb: 60, 211, 254;
  --color-blue-rgb: 0, 145, 255;
  --color-purple-rgb: 107, 52, 242;
  --color-pink-rgb: 255, 55, 95;
}
body.theme-dark:not(.is-mobile) {
  --background-primary: #1e1e1e;
  --background-primary-alt: color-mix(in srgb, var(--background-primary), white 3%);
  --background-secondary: color-mix(in srgb, var(--background-primary), white 5%);
  --background-secondary-alt: color-mix(in srgb, var(--background-primary), white 8%);

  --interactive-normal: hsl(0 0% 100% / 5%);
  --interactive-hover: hsl(0 0% 100% / 5%);

  --text-normal: #dddddd; // rgba(var(--mono-rgb-100), 85%)
  --text-muted: #9a9a9a; // rgba(var(--mono-rgb-100), 55%)
  --text-faint: #565656; // rgba(var(--mono-rgb-100), 25%)
}
body.theme-dark.is-mobile {
  --background-primary: #000;
  --background-primary-alt: #1c1c1e;
  --background-secondary: #1c1c1e;
  --background-secondary-alt: #2c2c2e;

  --interactive-normal: rgba(118, 118, 128, 24%);
  --interactive-hover: rgba(120, 120, 120, 36%);

  --text-normal: #fff;
  --text-muted: #8d8d93; //rgba(235, 235, 245, 60%)
  --text-faint: #47474a; // rgba(235, 235, 245, 30%)
}
