body {
  --setting-nav-icon-background: var(--color-base-50);
}

body:not(.is-mobile) {
  --setting-items-padding: calc(12px * var(--density-modifier)) var(--side-padding);
  --setting-group-heading-color: var(--text-normal);

  .modal.mod-sidebar-layout {
    background-color: var(--background-primary);
    border: none;
  }

  .modal.mod-settings {
    .installed-plugins-container .extra-setting-button {
      min-width: unset;
    }
  }
}

body.is-phone {
  --setting-items-radius: var(--radius-m);
  --setting-group-heading-size: var(--font-ui-medium);

  .modal.mod-sidebar-layout {
    --modal-radius: var(--radius-xl) var(--radius-xl) 0 0;
    --modal-header-control-top: var(--safe-area-inset-top);
    --modal-header-control-inset: max(var(--safe-area-inset-side), var(--safe-area-inset-left), var(--safe-area-inset-right));
    max-height: calc(100% - var(--safe-area-inset-top));

    .modal-setting-back-button,
    .modal-close-button {
      top: var(--modal-header-control-top) !important;
    }

    .modal-setting-back-button {
      inset-inline-start: var(--modal-header-control-inset);
      bottom: auto;
    }
    .modal-close-button {
      inset-inline-end: var(--modal-header-control-inset) !important;
    }

    .vertical-tab-header,
    .vertical-tab-content {
      padding-top: calc(var(--modal-header-height) + var(--size-4-4));
    }

    .vertical-tab-nav-item {
      height: var(--touch-size-xl);
    }
  }
  .modal.mod-settings {
    --modal-header-height: calc(var(--safe-area-inset-top) + var(--size-4-12));

    .modal-title {
      margin-top: var(--modal-header-control-top);
      height: var(--touch-size-m);
    }
  }

  .modal.mod-community-modal {
    --modal-header-height: calc(var(--safe-area-inset-top) + var(--size-4-12));

    .modal-header {
      position: absolute;
      inset: 0 0 auto;
    }
    .modal-title {
      margin-top: var(--modal-header-control-top);
      height: var(--touch-size-m);
    }

    .modal-content .modal-sidebar,
    .modal-content .community-modal-info {
      padding-top: 0;
      border-radius: var(--modal-radius);
    }
  }

}

body.is-tablet {
  --setting-items-padding: calc(16px * var(--density-modifier)) var(--side-padding);

  .modal.mod-settings {
    .vertical-tab-header-group-title {
      display: none;
    }
    .vertical-tab-nav-item {
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
    }
    .vertical-tab-nav-item.is-active {
      color: var(--interactive-accent);
      background-color: var(--background-modifier-hover);
    }
  }
}
