body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  --radius-window: 8px;

  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    background-color: var(--background-primary);
  }

  // Ribbon
  --ribbon-background: transparent;
  --ribbon-background-collapsed: var(--ribbon-background);

  // Editor panel: Floating
  .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    height: 32px;
    margin: auto 0;
  }

  // Hover sidedock
  &.hover-sidedock {
    .mod-sidedock.is-sidedock-collapsed[style*="display"] {
      box-shadow: var(--shadow-s);
      border-radius: var(--radius-window, var(--radius-m));
      background-color: var(--modal-background) !important;
      backdrop-filter: var(--blur-m);
      height: -webkit-fill-available;

      &.mod-left-split {
        margin: 8px 0 8px 8px;
        overflow: visible;
      }
      &.mod-right-split {
        margin: 8px 8px 8px 0;
      }

      &::before {
        background: none;
        margin-inline: -8px;
        pointer-events: auto;
        width: 8px;
      }
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
    padding-bottom: 0;
  }

  &:not(.show-ribbon:not(.hover-ribbon)) .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root {
    margin-left: 8px;
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root {
    margin-right: 8px;
  }

  .mod-root {
    padding-bottom: 8px;
  }

  // Windows & Linux fix
  &:not(.mod-macos).is-hidden-frameless .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: var(--frame-right-space);
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-phone) .workspace:is(.is-left-sidedock-open, .is-right-sidedock-open) {
  // Editor panel
  .workspace-split.mod-vertical {
    gap: 8px;
  }
  .workspace-split:not(.mod-sidedock) > * > .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-tablet {
  .workspace-drawer.mod-left.is-pinned + .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) .workspace-tabs:last-of-type .workspace-tab-container {
    margin-right: 8px;
  }
  .workspace-drawer.mod-left:not(.is-pinned) + .mod-root:has(+ .workspace-drawer.mod-right.is-pinned) .workspace-tabs:first-of-type .workspace-tab-container {
    margin-left: 8px;
  }
}
